<form class="create" action="/pets/<%= @pet.id %>" method="post">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" value= "<%= @pet.name %>" disabled/>


    <label for="dob">Date of Birth:</label>
    <input id="dob" type="text" name="dob" value= "<%= @pet.dob %>" disabled/>


    <label for="species">Select a species:</label>
    <select id="species" name="species" disabled>
      <option <%= "selected" if @pet.species == "Dog" %> value="Dog">Dog</option>
      <option <%= "selected" if @pet.species == "Cat" %> value="Cat">Cat</option>
      <option <%= "selected" if @pet.species == "Bird" %> value="Bird">Bird</option>
      <option <%= "selected" if @pet.species == "Rodent" %> value="Rodent">Rodent</option>
    </select>

    <label for="owner_details">Select an owner:</label>
    <select id="owner_details" name="owner_details">
      <% for owner in @owners %>
      <option <%= "selected" if @pet.owner_details == owner.id %> value = <%= owner.id %> > <%= owner.name %> </option>
      <% end %>
    </select>

    <label for="vet_details">Select a vet:</label>
    <select id="vet_details" name="vet_details">
      <% for vet in @vets %>
      <option <%= "selected" if @pet.vet_details == vet.id %> value = <%= vet.id %> > <%= vet.name %> </option>
      <% end %>
    </select>

    <label for="treatment_notes">Treatment Notes:</label>
    <input id="treatment_notes" type="text" name="treatment_notes" value= "<%= @pet.treatment_notes %>">

    <input class="submit-button" type='submit' value="Update Pet"/>

</form>
