<h2> <%= @pet.name %> </h2>

<h3> Date Of Birth: <%= @pet.dob %> </h3>
<h3> Species: <%= @pet.species %> </h3>
<h3> Owner: <%= @pet.find_owner.name %> </h3>
<h3> Vet: <%= @pet.find_vet.name %> </h3>
<h3> Treatment Notes: <%= @pet.treatment_notes %> </h3>
