<h2> <%= @pet.name %> </h2>

<section>

<% if @pet.url != nil %>
<img src=<%= @pet.url %> alt="<%= @pet.name %>" height="300" width="300" class="pet" >
<% else %>
<img src="/images/missing-image.png" alt="Missing Image" height="300" width="300" class="pet" >
<% end %>


<table class="pet">
  <tr>
    <th>Date of Birth</th>
    <th>Species</th>
    <th>Owner</th>
    <th>Vet</th>
    <th>Next Appointment</th>
    <th>Treatment Notes</th>
    <th>Edit?</th>
    <th>Delete?</th>
  </tr>
  <tr>
    <td> <%= Date.parse(@pet.dob).strftime('%a %d %b %Y') %> </td>
    <td><%= @pet.species %></td>
    <td><a href="/owners/<%= @pet.find_owner.id %>"><%= @pet.find_owner.name %> </a></td>
    <% if @pet.vet_details != 0 %>
     <td><%= @pet.find_vet().name %></td>
    <% else %>
      <td> No Vet </td>
    <% end %>
    <% if @pet.find_pet_appointment != nil %>
    <td><%= Date.parse(@pet.find_pet_appointment.check_in).strftime('%a %d %b %Y') %></td>
    <% else %>
    <td> No Appointment Scheduled! </td>
    <% end %>
    <td><%= @pet.treatment_notes %></td>
    <td><form method="get" action="/pets/<%= @pet.id %>/edit">
      <input class="btn" type="submit" value="Edit Pet" />
    </form></td>
    <td><form method="post" action="/pets/<%= @pet.id %>/delete">
      <input class="btn" type="submit" value="Delete Pet"/>
    </form>
  </td>
  </tr>
</table>

</section>
