<h2> <%= @vet.name %> </h2>

<img class="vet" src=<%= @vet.url %> alt="<%= @vet.name %>" width="300" height="300" >

<table>
  <tr>
    <th>Years of Experience</th>
    <th>Pets</th>
    <th>Edit?</th>
    <th>Delete?</th>
  </tr>
  <tr>
    <td><%= @vet.experience %></td>
    <td>
      <% for pet in @vet.find_patients %>
      <li class="vetpets'"> <%= pet.name %> </li>
     <% end %>
   </td>
    <td><form method="get" action="/vets/<%= @vet.id %>/edit" class="vetbutton">
      <input class ="btn" type="submit" value="Edit Vet" />
    </form></td>
    <td><form method="post" action="/vets/<%= @vet.id %>/delete" class="vetbutton">
      <input class="btn" type="submit" value="Delete Vet"/>
    </form>
  </td>
  </tr>
</table>
