<h2> <%= @vet.name %> </h2>

<img src=<%= @vet.url %> alt="<%= @vet.name %>" width="300" height="300" >

<h2> <%= @vet.experience %> years of experience </h2>

<h2> Pets:
  <ul>
    <% for pet in @vet.find_patients %>
    <li class="vetpets'"> <%= pet.name %> </li>
   <% end %>
   </ul>
   </h2>

<form method="post" action="/vets/<%= @vet.id %>/delete" class="vetbutton">
  <input type="submit" value="Delete Vet"/>
</form>

<form method="get" action="/vets/<%= @vet.id %>/edit" class="vetbutton">
  <input type="submit" value="Edit Vet" />
</form>
