<h2> Registered Owners </h2>

<% for owner in @owners %>
<p> Name: <%= owner.name %> </p>
<p> Contact Number: <%= owner.contact_number %> </p>
<p> Registration Status: <%= owner.registration %> </p>
<p> Pet(s): </p>
<ul>
 <% for pet in owner.find_pets %>
  <li> <%= pet.name %> </li>
 <% end %>
 </ul>

 <form method="get" action="/owners/<%= owner.id %>">
   <input type="submit" value="Select Owner"/>
 </form>
 <br>
 <hr />
<% end %>
