<h2> Owners </h2>

<table>
  <tr>
    <th>Name</th>
    <th>Contact Number</th>
    <th>Registration Status</th>
    <th>Pet(s)</th>
    <th>View Owner</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><%= owner.name %></td>
    <td><%= owner.contact_number %></td>
    <td><%= owner.registration %></td>
    <td>
      <ul>
     <% for pet in owner.find_pets %>
      <li> <%= pet.name %> </li>
     <% end %>
     </ul>
   </td>
    <td><a href="/owners/<%= owner.id %>">View Owner</a></td>
  </tr>
  <% end %>
</table>
