<h2> Name: <%= @owner.name %> </h2>

<img src=<%= @owner.url %> alt="<%= @owner.name %>" height="300" width="300" class="showowner">


<h2> Contact Number: <%= @owner.contact_number %> </h2>
<h2> Registration Status: <%= @owner.registration %> </h2>

<form method="post" action="/owners/<%= @owner.id %>/delete">
  <input type="submit" value="Delete Owner"/>
</form>

<form method="get" action="/owners/<%= @owner.id %>/edit">
  <input type="submit" value="Edit Owner" />
</form>
