
<form method="get" action="/owners">
  <input class="ownerbtn" type="submit" value="View all Owners" />
</form>

<h2> Name: <%= @owner.name %> </h2>

<% if @owner.url != nil %>
<img src=<%= @owner.url %> alt="<%= @owner.name %>" height="300" width="300" class="showowner" />
<% else %>
<img src="/images/missing-image.png" alt="Missing Image" height="300" width="300" class="showowner" >
<% end %>

<table class="owner">
  <tr>
    <th>Contact Number</th>
    <th>Registration Status</th>
    <th>Edit?</th>
    <th>Delete?</th>
  </tr>
  <tr>
    <td><%= @owner.contact_number %></td>
    <td> <%= @owner.registration %> </td>
    <td><form method="get" action="/owners/<%= @owner.id %>/edit">
      <input class ="btn" type="submit" value="Edit Owner" />
    </form></td>
    <td><form method="post" action="/owners/<%= @owner.id %>/delete">
      <input class="btn" type="submit" value="Delete Owner"/>
    </form>
  </td>
</tr>
</table>
